# .dockerignore

experiments/

# Ignore Python virtual environments and caches
.venv/
__pycache__/

# Ignore Docker-related files (not needed inside the image)
Dockerfile
docker-compose.yml
.dockerignore

# Ignore git specific files
.git/
.gitignore